.b_btm_bg {
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    margin: 30px -270px;
    padding: 20px;
    box-sizing: border-box;
}

.b_btm_c {
    background-color: #FFF;
}
.b_btm{
    margin-left: 50px;
}

.b_btm li {
    color: #888888;
    font-size: 14px;
    width:210px;
    float:left;
    margin-left:25px;
    text-align: center;
}
.b_btm li img{
    transition: all 0.5s;
}
.b_btm li img:hover{
    transform: rotate(360deg) scale(1.2);
}
.b_btm li h2 {
    color: #3e3e3e;
    font-size: 16px;
    font-weight: normal;
}
.b_nav {
    padding: 0 50px;
    overflow: hidden;
    margin: 20px 190px auto;
}
.b_nav dl {
    width: 125px;
    height: 165px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-right: 30px;
}

.b_nav dl dt {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    color: #3e3e3e;
    font-size: 16px;
    margin-bottom: 10px;
}

.b_nav dl dt a {
    color: #3e3e3e;
}

.b_nav dl dt a:hover {
    color: #3e3e3e;
    text-decoration: underline;
}

.b_nav dl dd {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    color: #888888;
}

.b_nav dl dd a {
    color: #888888;
}

.b_nav dl dd a:hover {
    color: #ff4e00;
}

.b_er {
    width: 121px;
    text-align: center;
    float: right;
    display: inline;
    margin-right: 14px;
    margin-top: 5px;
}

.b_er_c {
    width: 118px;
    margin-bottom: 10px;
    border: 1px solid #e9e9e9;
}

.b_tel_bg {
    width: 110px;
    color: #888888;
	float: right;
    margin-top: 5px;
    margin-right: 0px;
}

.b_tel_bg a.b_sh1 {
    width: 100%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    background: url(../images/b_sh_1.png) no-repeat left center;
    color: #888888;
    font-size: 14px;
    text-indent: 32px;
    display: inline-block;
}

.b_tel_bg a.b_sh1:hover {
    color: #ff4e00;
}

.b_tel_bg a.b_sh2 {
    width: 100%;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    background: url(../images/b_sh_2.png) no-repeat left center;
    color: #888888;
    font-size: 14px;
    text-indent: 32px;
    display: inline-block;
}

.b_tel_bg a.b_sh2:hover {
    color: #ff4e00;
}

.b_tel_bg p {
    margin-top: 10px;
}

.b_tel_bg p span {
    color: #ff4e00;
    font-size: 18px;
}

.btmbg {
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    padding: 30px 0 40px 0;
    border-top: 1px solid #eaeaea;
}

.btm {
    width: 1200px;
    overflow: hidden;
    color: #999999;
    text-align: right;
}

.btm a {
    color: #999999;
}

.btm a:hover {
    color: #999999;
    text-decoration: underline;
}

.btm img {
    width: 105px;
    height: 33px;
    display: inline-block;
    margin: 15px 16px 5px 16px;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	float: center;
}
.text{
	margin: 15px 400px auto;
}